body{
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
	background: #f4f4f4;
	margin: 0;
	padding: 0;
}

/*Global*/

.container{
	width: 80%;
	margin: auto;
	overflow:hidden;
}

.highlight{
	color: orange;
}

/*header*/

header{
	background-color: #353567;
	color:white;
	border-bottom: 3px solid orange;
}
header #branding{
	float: left;
}
header #branding h1{
	margin-top: 10px;
}
header a{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font: Helvetica;

}
header li{
	list-style: none;
	padding:0px 20px;
	float: left;
	display: inline;
}
header nav{
	float:right;
	margin-top: 10px;
}

/*showcase*/

#showcase{
background:url(http://res.cloudinary.com/giftedsound/image/upload/v1526726822/1920x1200-3.jpg.png) no-repeat;
text-align: center;
min-height: 400px;
margin-top: 0px;
color: white;
font: 20px, 1.5, Arial;
}

#showcase h1{
	margin-top: 55px;
	font-size: 55px;
}

#showcase p{
	font-style: bold;
	font-size: 20px;
}

#newsletter{
	background: #353567;
}

#newsletter h1{
	float: left;
	color: white;
	font-size: 30px;
	font-style: bold;
}

#newsletter form{
	float: right;
	margin-top: 30px;
	padding-right: 50px;
}

#newsletter input{
	height: 25px;
	width: 250px;
}

.button_1{
	height: 25px;
	background-color: orange;
}

#boxes{

}

#boxes .box{
	float: left;
	margin-top: 20px;
	width: 30%;
	text-align: center;
}

#boxes .box img{
	width: 90px;
	height: auto;
}
